@import url(font.css);
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    word-break: keep-all;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

#wrap {
    min-width: 1300px;
}
.wrapper {
    margin: 0 auto;
    width: 1260px;
}
section .manu {
    margin: 116px 0 0 0;
    display: flex;
    justify-content: space-between;
}

section .manu .tit h1,
.esg h1 {
    color: #86cab6;
}
section .manu .tit .sub_tit,
.esg .sub_tit {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.1;
}

section .manu .snb ul {
    display: flex;
    gap: 5px;
    margin: 10px 0 0 0;
}
section .manu .snb ul li {
    border: 1px solid #005b45;
    color: #005b45;
    border-radius: 15px;
    padding: 2px 20px;
    margin: 29.5px 0;
}
section .manu .snb ul li a {
    display: block;
}
section .manu .snb ul .cl_box {
    background-color: #005b45;
    color: #fff;
}
section .box {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
}
section .box .m_nv {
    width: 404px;
    height: 452px;
    background-color: #f1f1f1;
    color: #005b45;
    border-radius: 20px;
    padding: 40px 0 26px 29px;
}
section .box .m_nv h2,
section .box .m_nv .sub_tit  {
    font-size: 40px;
    font-weight: 700;
    color: #005b45;
}
section .box .m_nv h2 {
    margin: 0 0 185px 0;
}
section .box .m_nv .sub_tit {
    font-size: 30px;
    margin: 0 0 30px 0;
}
section .box .m_nv span {
    color: #555;
}
.esg {
    background-color: #f1f1f1;
    margin: 93px 0 0 0;
    padding: 111px 0 94px 0;
}
.esg ul {
    display: flex;
    justify-content: space-between
}
.esg ul li {
    width: 404px;
    height: 306px;
    border-radius: 20px;
    margin: 30px 0 0 0;
    padding: 202px 0 0 43px;
    color: #fff;
}
.esg ul li a {
    display: block;
}
.esg ul .list1 {
    background: url(../images/ESG-img.png) no-repeat center center /cover;
}
.esg ul .list2 {
    background: url(../images/보고서-img.png) no-repeat center center / cover;
}
.esg ul .list3 {
    background: url(../images/유통-img.png) no-repeat center center / cover;
}
.esg ul li a h2 {
    font-size: 30px;
    font-weight: 700;
}
.ir {
    background-color: #005b45;
    padding: 112px 0 108px 0;
    color: #fff;
}
.ir .inner {
    height: 405px;
    display: flex;
    justify-content: space-between
}
.ir .inner .bx_l {
    width: 832px;
    background-color: #fff;
    border-radius: 20px;
}
.ir .inner .bx_r ul li {
    width: 404px;
    height: 119px;
    margin: 0 0 24px 0;
    padding: 49px 0 0 88px;
    background-color: #fff;
    border-radius: 20px;
}
.ir .inner .bx_r ul li:last-child {
    margin: 0;
}
.ir .inner .bx_r ul li a {
    color: #1d1d1d;
    font-size: 20px;
}