h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal;
}
button {
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}